
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	  <div class="navbar-header">
		<a class="navbar-brand" href="#">Register your product here</a>
	  </div>
	  <ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	  </ul>
	</div>
  </nav>

<div id="app">

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<video #video id="video"  width=70% height=50% autoplay></video>
			</div>
		</div>
	</div>

	<button class="btn btn-warning" (click)="capture()" style="margin-bottom: 40px; margin-top: 40px;">Capture Image</button>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<canvas #canvas class="img-responsive"></canvas>
			</div>
		</div>
	</div>

	<p id = "ResponseText" style="margin-top: 20px;">----------------</p>
</div>